@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome at Company Web App</h1>
    <p>Click <strong>Clients</strong> to see our clients data base</p>
</div>
